.mainNav {
  z-index: 100;
  position: fixed;
  background-color: rgb(64,64,64);
  height: 85px;
  width: 100%;
  font-size: 20px;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  top:-1%;
}
.mainNav ul {
  list-style-type: none;
  display: flex;
}
.mainNav ul li a {
  margin-left: 18px;
  border: 1px solid gray;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  color: white;
}
.mainNav a:focus {
  background-color: rgb(85, 85, 85);
}
.mainNav .firstOne {
  background-color: rgb(85, 85, 85);
}
.mainNav ul li a:hover {
  background-color: rgb(85, 85, 85);
  transition: background-color 0.5s;
}



.conquer {
  text-align: center;
  color: white;
}
.conquer img {
  width: 100%;
}
.conquer .firstTitle {
  position: absolute;
  top: 25%;
  left: 36%;
  font-size: 70px;
  font-family: serif;
  text-shadow: 3px 3px black;
}
.conquer .firstSubTitle {
  position: absolute;
  font-family: arial;
  top: 43%;
  left: 37%;
  font-size: 27px;
}




.threeColumns {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: arial;
}

.threeColumns img {
  width: 100%;
}
.container1 {
  width: 25%;
  background-color: rgb(236, 236, 236);
  margin-right: 20px;
}
.container1 h3 {
  color: green;
  font-family: arial;
  font-size: 20px;
  margin-left: 10px;
}
.container1 p {
  padding: 10px;
  font-size: 14px;
}
.container2 {
  width: 25%;
  background-color: rgb(236, 236, 236);
  margin-right: 20px;
}
.container2 h3 {
  color: rgb(86, 133, 204);
  font-family: arial;
  font-size: 20px;
  margin-left: 10px;
}
.container2 p {
  padding: 10px;
  font-size: 18px;
}
.container3 {
  width: 25%;
  background-color: rgb(236, 236, 236);
}
.container3 h3 {
  color: gray;
  font-family: arial;
  font-size: 20px;
  margin-left: 10px;
}
.container3 p {
  padding: 10px;
  font-size: 18px;
}
